<h3>My Shares</h3>
<div class="d-flex justify-content-around">
  <div>
    <%= link_to "Current Shares", user_exchanges_path(view: 'current') %>
  </div>
  <div>
    <%= link_to "Past Shares", user_exchanges_path(view: 'past') %>
  </div>
</div>

<h3>My Meals</h3>
<div class="d-flex justify-content-around">
  <div>
    <%= link_to "Share Requests", exchange_requests_path %>
  </div>
  <div>
    <%= link_to "My Meals", user_meals_path %>
  </div>
</div>
