<h1>Exchanges Pending</h1>

<% @meal.exchanges.each do |exchange| %>
  <p>
    <strong>Requested by:</strong>
    <%= link_to exchange.user.name, user_path(exchange.my_exchange) %>
  </p>

  <p>
    <strong>Offered Meal:</strong>
    <%= link_to exchange.your_meals.name, meal_path(exchange.your_meals) %>
  </p>

  <p>
    <%= link_to "Rate", edit_rating_exchange_path(exchange, user: "offering") %>
  </p>
   <% end %>
<% end %>

  <!-- app/views/layouts/application.html.erb or exchanges_dashboard.html.erb -->
<div id="alerts">
  <turbo-stream-source channel="alerts_user_#{current_user.id}" />
</div>

<%= link_to "View Messages", exchange_path(exchange) %>
