<h1>All Meals</h1>
<ul>
  <% @meals.each do |meal| %>
    <li>
      <strong>Name: <%= meal.name %></strong> - Description: <%= meal.description %> - Cuisine: <%= meal.cuisine %> - Category: <%= meal.category %>
      <%# Add more attributes as needed, like description or category %>
    </li>
  <% end %>
</ul>
