html, body {
  background-color: #FEFAE0;
}

.user-profile-page {
  background-color: #FEFAE0;
}

.user-profile-content {
  background-color: #FEFAE0;
}

.user-info-card {
  background-color: #223618;
  color: #FEFAE0;
}

.big-title {
  color: #223618;
}


// form

/* Meal name input field */
.meal-name-input {
  background-color: #223618;
  color: red;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 999px;
  padding: 0.75rem 1.5rem;
}

/* Add-photo "+" button */
.add-photo-button {
  cursor: pointer;
  width: 100px;
  height: 100px;
  border-radius: 8px;
  font-size: 32px;
  color: #999;
  background-color: #FEFAE0;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.green-ak{
  background-color: #223618;
}

.attached-photo {
  background-color: #D7E0D2;
}

.edit-profile {
  background-color: #223618;

}

.text-muted-all {
  color: #FEFAE0 !important;
}

.plus_btn {
  background-color: #D7E0D2;
}

.profile-text{
  color: #223618 !important;
}
