.chat-header {
  background-color: #D7E0D2;
  border-bottom: 1px solid #ddd;
}

.chat-body {
  background-color: #FFF9E5;
}

.chat-input {
  border-top: 1px solid #ddd;
  background-color: #D7E0D2;
}

.message-bubble {
  padding: 12px 16px;
  border-radius: 20px;
  margin-bottom: 10px;
  max-width: 70%;
  word-wrap: break-word;
}

.message-bubble.sent {
  background-color: #82983A;
  margin-left: auto;
  text-align: right;
  color: #FFF9E5;
}

.message-bubble.received {
  background-color: #DA9343;
  margin-right: auto;
  text-align: left;
  border: 1px solid #eee;
  color: #FFF9E5;
}
