.filter-drawer {
  border-radius: 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  padding: 1.5rem;
  max-width: 520px;
  margin: 1rem auto;

  h5 {
    font-weight: 700;
    font-size: 1.25rem;
    color: #FEFAE0;
    margin-bottom: 1.25rem;
  }

  .form-label {
    font-size: 0.95rem;
    font-weight: 500;
    color:#D7E0D2;
    margin-bottom: 0.3rem;
  }

  .form-select,
  input[type="text"] {
    border-radius: 12px;
    padding: 0.6rem 1rem;
    border: 1px solid #ddd;
    font-size: 0.95rem;
    background-color: #f8f8f8;
  }

  input[type="range"] {
    width: 100%;
    margin-top: 0.3rem;
    appearance: none;
    height: 6px;
    background: #e0e0e0;
    border-radius: 8px;

    &::-webkit-slider-thumb {
      appearance: none;
      width: 16px;
      height: 16px;
      background: #82983A;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  .btn-outline-secondary {
    border-radius: 999px;
    font-weight: 500;
    padding: 0.4rem 1.25rem;
  }

  .btn-warning {
    background: #82983A;
    color: #fff;
    border: none;
    border-radius: 999px;
    font-weight: 500;
    padding: 0.4rem 1.25rem;

    &:hover {
      background-color: #319c3e;
    }
  }
}

.dropdown-menu.my-dropdown {
  background-color: #223618 !important;
  border-radius: 16px !important;
  padding: 0.5rem 0;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  min-width: 180px;

  .dropdown-item {
    color: #FEFAE0 !important;
    padding: 0.5rem 1rem;

    &:hover,
    &:focus {
      background-color: #2e4729 !important;
      color: #fff !important;
    }
  }

  .text-danger {
    color: #d95f5f !important;

    &:hover {
      background-color: #4e1d1d !important;
      color: white !important;
    }
  }
}
