h1 {
  font-size: 36px;
  font-weight: bold;
}

h2 {
  font-size: 22px;
  font-weight: bold;
}

h3 {
  font-size: 18px;
  font-weight: medium;
}

h4 {
  color: #223618;
}

p {
  font-size: 16px;
}

a {
  font-weight: bold;
}

h6 {
  color: #FEFAE0;
  font-weight: bold;
}
